/* You can add global styles to this file, and also import other style files */

@import "/src/assets/theme/red.scss";
@import "/src/assets/theme/blue.scss";
@import "/src/assets/theme/green.scss";

@function map-get-value($map, $key) {
    @if map-has-key($map, $key) {
        @return map-get($map, $key);
    }
    @else {
        @error "ERROR: Specified key #{$key} does not exist in the mapping #{map-get($map,name)}";
    }
}

@mixin set-theme($map) { 
    .layout{
        background-color: map-get-value($map, background-color);
    }

    .text{
        color: map-get-value($map, text-color);
    }

    .button{
        background-color: map-get-value($map, button-color);
        color: map-get-value($map, button-text-color);
    }
}


//set theme
.red {
    @include set-theme($red-value-map);
}

.blue {
    @include set-theme($blue-value-map);
}

.green {
    @include set-theme($green-value-map);
}
